<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>module</key>
				<string>/orders/day</string>
				<key>key</key>
				<string>/orders/day</string>
				<key>title</key>
				<string>课程预约</string>
				<key>imagePath</key>
				<string>func_order_manager</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/group/order</string>
				<key>key</key>
				<string>/group/order</string>
				<key>title</key>
				<string>代约团课</string>
				<key>imagePath</key>
				<string>func_order_group</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/private/order</string>
				<key>key</key>
				<string>/private/order</string>
				<key>title</key>
				<string>代约私教</string>
				<key>imagePath</key>
				<string>func_order_private</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/checkin/help</string>
				<key>key</key>
				<string>/checkin/help</string>
				<key>title</key>
				<string>签到处理</string>
				<key>imagePath</key>
				<string>func_signin_manager</string>
				<key>pro</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>工作台</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>module</key>
				<string>/teamarrange/calendar2</string>
				<key>key</key>
				<string>/teamarrange/calendar2</string>
				<key>title</key>
				<string>团课</string>
				<key>imagePath</key>
				<string>func_group_manager</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/priarrange/calendar2</string>
				<key>key</key>
				<string>/priarrange/calendar2</string>
				<key>title</key>
				<string>私教</string>
				<key>imagePath</key>
				<string>func_private_manager</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/checkin/setting</string>
				<key>key</key>
				<string>/checkin/setting</string>
				<key>title</key>
				<string>入场签到</string>
				<key>imagePath</key>
				<string>func_checkin_setting</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/commodity/list</string>
				<key>key</key>
				<string>/commodity/list</string>
				<key>title</key>
				<string>商店</string>
				<key>imagePath</key>
				<string>func_marketing_commodity</string>
				<key>pro</key>
				<true/>
			</dict>
		</array>
		<key>title</key>
		<string>健身服务</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>module</key>
				<string>/manage/members</string>
				<key>key</key>
				<string>/manage/members</string>
				<key>title</key>
				<string>会员</string>
				<key>imagePath</key>
				<string>func_user_manager</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/manage/costs</string>
				<key>key</key>
				<string>/manage/costs</string>
				<key>title</key>
				<string>会员卡</string>
				<key>imagePath</key>
				<string>func_card_manager</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/measure/setting</string>
				<key>key</key>
				<string>/measure/setting</string>
				<key>title</key>
				<string>体测表模板</string>
				<key>imagePath</key>
				<string>func_measure_data</string>
				<key>pro</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>会员管理</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>module</key>
				<string>/manage/staff</string>
				<key>key</key>
				<string>/manage/staff</string>
				<key>title</key>
				<string>工作人员</string>
				<key>imagePath</key>
				<string>func_staff_manager</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/coachsetting</string>
				<key>key</key>
				<string>/coachsetting</string>
				<key>title</key>
				<string>教练</string>
				<key>imagePath</key>
				<string>func_coach_manager</string>
				<key>pro</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>员工管理</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>module</key>
				<string>/score/rank</string>
				<key>key</key>
				<string>/score/rank</string>
				<key>title</key>
				<string>会员积分</string>
				<key>imagePath</key>
				<string>func_user_integral</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/activity/setting</string>
				<key>key</key>
				<string>/activity/setting</string>
				<key>title</key>
				<string>活动</string>
				<key>imagePath</key>
				<string>func_marketing_activity</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/koubei</string>
				<key>key</key>
				<string>/koubei</string>
				<key>title</key>
				<string>接入口碑网</string>
				<key>imagePath</key>
				<string>func_insert_koubei</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/giftcard</string>
				<key>key</key>
				<string>/giftcard</string>
				<key>title</key>
				<string>注册送会员卡</string>
				<key>imagePath</key>
				<string>func_marketing_gift</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/notice</string>
				<key>key</key>
				<string>/notice</string>
				<key>title</key>
				<string>场馆公告</string>
				<key>imagePath</key>
				<string>func_marketing_notice</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/competition</string>
				<key>key</key>
				<string>/competition</string>
				<key>title</key>
				<string>赛事训练营</string>
				<key>imagePath</key>
				<string>func_completion_train</string>
				<key>pro</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>运营推广</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>module</key>
				<string>/pay/bills</string>
				<key>key</key>
				<string>/pay/bills</string>
				<key>title</key>
				<string>在线支付</string>
				<key>imagePath</key>
				<string>func_onlinepay</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/cost/report</string>
				<key>key</key>
				<string>/cost/report</string>
				<key>title</key>
				<string>课程报表</string>
				<key>imagePath</key>
				<string>func_course_report</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/sales/report</string>
				<key>key</key>
				<string>/sales/report</string>
				<key>title</key>
				<string>销售报表</string>
				<key>imagePath</key>
				<string>func_sell_report</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/comments/report</string>
				<key>key</key>
				<string>/comments/report</string>
				<key>title</key>
				<string>评分报表</string>
				<key>imagePath</key>
				<string>func_star_report</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/card/report</string>
				<key>key</key>
				<string>/card/report</string>
				<key>title</key>
				<string>会员卡报表</string>
				<key>imagePath</key>
				<string>func_card_report</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/checkin/report</string>
				<key>key</key>
				<string>/checkin/report</string>
				<key>title</key>
				<string>签到报表</string>
				<key>imagePath</key>
				<string>func_checkin_report</string>
				<key>pro</key>
				<true/>
			</dict>
		</array>
		<key>title</key>
		<string>财务与报表</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>module</key>
				<string>/studio/setting</string>
				<key>key</key>
				<string>/studio/setting/?mb_module=info</string>
				<key>title</key>
				<string>场馆信息</string>
				<key>imagePath</key>
				<string>func_gym_info</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/studio/setting</string>
				<key>key</key>
				<string>/studio/setting/?mb_module=time</string>
				<key>title</key>
				<string>营业时间</string>
				<key>imagePath</key>
				<string>func_open_time</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/space/setting/1</string>
				<key>key</key>
				<string>/space/setting</string>
				<key>title</key>
				<string>场地</string>
				<key>imagePath</key>
				<string>func_yard_manager</string>
				<key>pro</key>
				<true/>
			</dict>
			<dict>
				<key>module</key>
				<string>/message/setting</string>
				<key>key</key>
				<string>/message/setting</string>
				<key>title</key>
				<string>短信</string>
				<key>imagePath</key>
				<string>func_message_remainder</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/locker/setting</string>
				<key>key</key>
				<string>/locker/setting</string>
				<key>title</key>
				<string>更衣柜</string>
				<key>imagePath</key>
				<string>func_chest_manager</string>
				<key>pro</key>
				<false/>
			</dict>
			<dict>
				<key>module</key>
				<string>/shop/home</string>
				<key>key</key>
				<string>/shop/home</string>
				<key>title</key>
				<string>会员端配置</string>
				<key>imagePath</key>
				<string>func_studio_info</string>
				<key>pro</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>场馆管理</string>
	</dict>
</array>
</plist>
